<div class="flex-1 flex items-stretch mt-4">
  <MonacoEditor
    class="flex-1 border-r-1"
    @value={{this.code}}
    @onDidChangeModelContent={{set this "code"}}
  />

  {{#if this.errors}}
    <div class="flex-1 px-4 py-2">
      <h2 class="text-lg mb-4">Errors:</h2>
      <ul>
        {{#each this.errors as |error|}}
          <li>{{error.message}}</li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    <MonacoEditor
      class="flex-1"
      @value={{this.ast}}
      @language="json"
      @readOnly={{true}}
    />
  {{/if}}
</div>
